{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

<section>

<h2>作品紹介</h2>
        <table class="ta1">
            <caption>STAR WARS Episode1</caption>
            <tr>
            <th>あらすじ</th>
            <td>遠い昔 はるか彼方の銀河系で...<br>
                銀河共和国には混乱が渦巻いていた。辺境の星との交易での課税の是非で意見が割れたのだ。
                貪欲な通商連合は恐るべき宇宙戦艦の包囲で事態解決を図り小さな惑星ナブーへの航路を封鎖してしまった。
                この非常事態に共和国議会は果てしない討議をただ繰り返すばかり。共和国最高議長は紛争解決のために平和と正義の
                守護者ジェダイの騎士２人を特使として秘密裏に派遣したのだった…</td>
            </tr>
            <tr>
            <th>キャラクター</th>
            <td>アナキンスカイウォーカー、クワイ＝ガン・ジン,オビ＝ワン・ケノービ、パドメ・アミダラ,<br>シーヴ・パルパティーン,ダースモール,R2D2,C-3PO,</td>
            </tr>
            <tr>
            <th>キャスト</th>
            <td>監督・ジョージ・ルーカス<br>
                ジェイク・ロイド,リーアム・ニーソン,ユアン・マクレガー,ナタリー・ポートマン,イアン・マクダーミド,レイ・パーク,ケニー・ベイカー、アンソニー・ダニエルズ</td>
            </tr>
            <tr>
            <th>公開年</th>
            <td>🇺🇸米・1999年5月19日<br>
             🇯🇵日本・1999年7月10日</td>
            </tr>
            <tr>
            <th>場面写真</th>
            <td>ダースモールと戦うオビ=ワンとクワイ=ガン<br>
            <img src="{% static 'rebels/images/5ce7ed4e53553b000167d941-image_47640706.jpg' %}" alt="">
            </td>
            </tr>
            <table class="ta1">
                <caption>STAR WARS Episode2</caption>
                <tr>
                <th>あらすじ</th>
                <td>遠い昔 はるか彼方の銀河系で...<br>
                    銀河元老院は暗雲に覆われていた。数千の恒星系が銀河共和国からの離脱を表明したのだ。
                    ドゥークー伯爵に指揮された分離主義勢力によってジェダイ騎士が限りある人員の中で銀河の平和と秩序を維持するのは困難になっていた。
                    かつてのナブーの女王アミダラ元老院議員は銀河元老院へと向かっていた。今や劣勢となったジェダイを支援するために 
                    共和国に軍隊を創設すべきか否かという重大な議案に一票を投じるために...</td>
                </tr>
                <tr>
                <th>キャラクター</th>
                <td>アナキンスカイウォーカー,オビ＝ワン・ケノービ、パドメ・アミダラ,シーヴ・パルパティーン,ドゥークー伯爵,R2D2,C-3PO,</td>
                </tr>
                <tr>
                <th>キャスト</th>
                <td>監督・ジョージ・ルーカス<br>
                    ヘイデン・クリステンセン,ユアン・マクレガー,ナタリー・ポートマン,イアン・マクダーミド,クリストファー・リー,ケニー・ベイカー、アンソニー・ダニエルズ</td>
                </tr>
                <tr>
                <th>公開年</th>
                <td>🇺🇸米・2002年5月22日<br>
                 🇯🇵日本・2002年7月13日</td>
                </tr>
                <tr>
                <th>場面写真</th>
                <td>惑星ジオノーシスで戦うパドメとアナキン<br>
                <img src="{% static 'rebels/images/phep2.jpg' %}" alt="">
                </td>
                </tr>
                <table class="ta1">
                    <caption>STAR WARS Episode3</caption>
                    <tr>
                    <th>あらすじ</th>
                    <td>遠い昔 はるか彼方の銀河系で...<br>
                        戦争だ！共和国を襲うシスの暗黒卿ドゥークー伯爵。双方に英雄が生まれ悪が世を支配した。
                        ドロイド軍を率いるグリーバス将軍は共和国の首都を急襲。パルパティーン最高議長を誘拐した。
                        分離主義勢力のドロイド軍が人質を連れ出そうとする頃、２人のジェダイ騎士がその救出に向かった...</td>
                    </tr>
                    <tr>
                    <th>キャラクター</th>
                    <td>アナキンスカイウォーカー,オビ＝ワン・ケノービ,パドメ・アミダラ,シーヴ・パルパティーン,メイス・ウィンドゥ,R2D2,C-3PO,</td>
                    </tr>
                    <tr>
                    <th>キャスト</th>
                    <td>監督・ジョージ・ルーカス<br>
                        ヘイデン・クリステンセン,ユアン・マクレガー,ナタリー・ポートマン,イアン・マクダーミド,サミュエル・L・ジャクソン,ケニー・ベイカー、アンソニー・ダニエルズ</td>
                    </tr>
                    <tr>
                    <th>公開年</th>
                    <td>🇺🇸米・2005年5月19日<br>
                     🇯🇵日本・2005年7月9日</td>
                    </tr>
                    <tr>
                    <th>場面写真</th>
                    <td>コルサントの戦い<br>
                    <img src="{% static 'rebels/images/Ep3.png' %}" alt="">
                    </td>
                    </tr>
                    <table class="ta1">
<caption>STAR WARS Episode4</caption>
<tr>
<th>あらすじ</th>
<td>遠い昔 はるか彼方の銀河系で...<br>
    時は内乱のさなか。凶悪な銀河帝国の支配に反乱軍の秘密基地から奇襲を仕掛け帝国に対し初めて勝利を収めた。
    更にその戦闘の合間に、反乱軍のスパイは帝国軍の究極兵器の設計図を盗み出すことに成功。それは”デス･スター”と呼ばれ惑星をも粉々にするパワーを持つ宇宙要塞基地だった。
    凶悪な帝国軍に追われながらレイア姫は盗み出した設計図を手に故郷へと急いだ。人類を救い銀河に自由を取り戻すために...</td>
</tr>
<tr>
<th>キャラクター</th>
<td>ルークスカイウォーカー、レイアオーガナ、ハンソロ,チューバッカ、R2D2,C-3PO</td>
</tr>
<tr>
<th>キャスト</th>
<td>マーク・ハミル、キャリー・フィッシャー、ハリソン・フォード、ピーター・メイヒュー、ケニー・ベイカー、アンソニー・ダニエルズ</td>
</tr>
<tr>
<th>公開年</th>
<td>🇺🇸米・1977年5月25日<br>
🇯🇵日本・1978年7月1日</td>
</tr>
<tr>
<th>場面写真</th>
<td>敵を出し抜く作戦を考えるスカイウォーカー達<br>
<img src="{% static 'rebels/images/Star-Wars-A-New-Hope-4.png' %}" alt="">
</td>
</tr>

<table class="ta1">
    <caption>STAR WARS Episode5</caption>
    <tr>
    <th>あらすじ</th>
    <td>遠い昔 はるか彼方の銀河系で...<br>
        反乱軍にとって試練の時だった。デス･スターを破壊されながらも帝国軍は反乱軍を追い詰め、秘密基地からの撤退を余儀なくさせた。
        恐るべき帝国宇宙艦隊の追撃から逃れたルーク･スカイウォーカー率いる自由の戦士たちは辺境の氷の惑星ホスに新たな秘密基地を建設した。
        若きスカイウォーカーを捜すことに執念を燃やすダース･ベイダーは無数の探査ドロイドを銀河全域にくまなく放ったのだった...</td>
    </tr>
    <tr>
    <th>キャラクター</th>
    <td>ルークスカイウォーカー、レイアオーガナ、ハンソロ,チューバッカ、ランド・カルリジアン、R2D2,C-3PO</td>
    </tr>
    <tr>
    <th>キャスト</th>
    <td>マーク・ハミル、キャリー・フィッシャー、ハリソン・フォード、ピーター・メイヒュー、ビリー・ディー・ウィリアムズ、
        ケニー・ベイカー、アンソニー・ダニエルズ</td>
    </tr>
    <tr>
    <th>公開年</th>
    <td>🇺🇸米・1980年5月21日<br>
     🇯🇵日本・1980年6月28日</td>
    </tr>
    <tr>
    <th>場面写真</th>
    <td>惑星・ベスピンで再開するランドとハン<br>
    <img src="{% static 'rebels/images/n1nzocdepbv3ls8kqqen.0.jpg' %}" alt="">
    </td>
    </tr>
    <table class="ta1">
        <caption>STAR WARS Episode6</caption>
        <tr>
        <th>あらすじ</th>
        <td>遠い昔 はるか彼方の銀河系で...<br>
            ルーク･スカイウォーカーは卑劣な悪党ジャバ･ザ･ハットに囚われの身となっている盟友ハン･ソロを救出するべく故郷の惑星タトゥイーンへと戻った。
            だがルークの知らぬ間に銀河帝国は秘密裏に新たな宇宙要塞の建造に着手していた。それはあの恐るべき初代デス･スターをはるかに上回る強力な装備を持っていた。
            この究極兵器が完成してしまったら銀河系に再び自由をもたらすため戦い続けている少数の反乱軍はひとたまりもなく壊滅してしまうだろう...</td>
        </tr>
        <tr>
        <th>キャラクター</th>
        <td>ルークスカイウォーカー、レイアオーガナ、ハンソロ,チューバッカ、ランド・カルリジアン、R2D2,C-3PO</td>
        </tr>
        <tr>
        <th>キャスト</th>
        <td>マーク・ハミル、キャリー・フィッシャー、ハリソン・フォード、ピーター・メイヒュー、ビリー・ディー・ウィリアムズ、
            ケニー・ベイカー、アンソニー・ダニエルズ</td>
        </tr>
        <tr>
        <th>公開年</th>
        <td>🇺🇸米・1983年5月25日<br>
         🇯🇵日本・1983年7月2日</td>
        </tr>
        <tr>
        <th>場面写真</th>
        <td>ルークスカイウォーカーとダースヴェイダー<br>
        <img src="{% static 'rebels/images/image-w1280.jpg' %}" alt="">
        </td>
        </tr>
</table>

</section>


</main>


{% endblock %}