{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

<section>

<h2>News</h2>
<!-- <p>ブロック全体を囲んでいる「list-container」タグを入れ忘れないで下さい。これがないとレイアウトが崩れます。<br>
出現してくるアニメーションは他にも色々ご用意しております。テンプレート内の<a href="sample_inview.html">sample_inview.htmlをお読み下さい。</a></p> -->

<div class="list-container">

    <div class="list blur">
        <figure><img src="{% static 'rebels/images/IMG_5377.png' %}" alt=""></figure>
        <div class="text">
        <h4>バッドバッチ、シーズン３</h4>
        <p>2024年2月21日配信開始!<br>
            最後の戦いを見逃すな！
        </p>
        </div>
        <span class="new">NEW</span>
        </div>
        
        <div class="list blur">
        <figure><img src="{% static 'rebels/images/IMG_5378.png' %}" alt=""></figure>
        <div class="text">
        <h4>マンダロリアン<br>
            『The Mandalorian & Grogu』(原題)</h4>
        <p>!!映画化決定!!<br>
            𝗧𝗛𝗜𝗦 𝗜𝗦 𝗧𝗛𝗘 𝗪𝗔𝗬</p>
        </div>
        </div>
        
        <div class="list blur">
        <figure><img src="{% static 'rebels/images/IMG_5379.png' %}" alt=""></figure>
        <div class="text">
        <h4>アソーカシーズン２制作開始！</h4>
        <p>アソーカとサビーヌの旅は続く、、</p>
        </div>
        </div>
<div class="list blur">
    <figure><img src="{% static 'rebels/images/GD2TJt3aUAAaXik.jpeg' %}" alt=""></figure>
    <div class="text">
    <h4>『ヤング・ジェダイ・アドベンチャー』</h4>
    <p>ヤング・ジェダイ・アドベンチャー20～25話配信開始!<br>
        若きジェダイ候補生たちの
        銀河の大冒険を描く<br>
        シーズン1がついに完結!
        </p>
    </div>
    </div>
    
    <div class="list blur">
    <figure><img src="{% static 'rebels/images/GB6gNcObMAA_1wH.jpeg' %}" alt=""></figure>
    <div class="text">
    <h4>＼発売決定‼/<h4>
    <p>『マンダロリアン』のBlu-rayが発売決定!!</p>
    </div>
    </div>
    
    <div class="list blur">
    <figure><img src="{% static 'rebels/images/F8DnyYNakAAveOt.jpeg' %}" alt=""></figure>
    <div class="text">
    <h4>『アソーカ』最終話公開！』</h4>
    <p>ーかつての師への想いとともに、
        反乱者たちと闇の脅威に立ち向かうー</p>
    </div>
    </div>
    
<div class="list blur">
<figure><img src="{% static 'rebels/images/F4RlE8iawAA3DYU.jpeg' %}" alt=""></figure>
<div class="text">
<h4>キャラクターポスター公開！</h4>
<p>アソーカタノ<br>
    伝説の“元”ジェダイ
</p>
</div>

</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/F4RlE7vawAAJ491.jpeg' %}" alt=""></figure>
<div class="text">
<h4>キャラクターポスター公開！</h4>
<p>サビーヌレン<br>
    マンダロリアンの戦士</p>
</div>
<!-- <p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p> -->
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/F4RlE9cbsAALXq_.jpeg' %}" alt=""></figure>
<div class="text">
<h4>キャラクターポスター公開！</h4>
<p>ヘラシンドゥーラ<br>
    新共和国を導く将軍</p>
</div>
</div>
<div class="list blur">
    <figure><img src="{% static 'rebels/images/F4RlU7bbMAAhs2T.jpeg' %}" alt=""></figure>
    <div class="text">
    <h4>キャラクターポスター公開！</h4>
    <p>ベイランスコール</p>
    </div>
    </div>
    
    <div class="list blur">
    <figure><img src="{% static 'rebels/images/F4RlV7ebEAAnmyg.jpeg' %}" alt=""></figure>
    <div class="text">
    <h4>キャラクターポスター公開！</h4>
    <p>シンハティ</p>
    </div>
    </div>
    
    <div class="list blur">
    <figure><img src="{% static 'rebels/images/F4RlXMNagAA4A89.jpeg' %}" alt=""></figure>
    <div class="text">
    <h4>キャラクターポスター公開！</h4>
    <p>モーガンエルズベス</p>
    </div>
    </div>

    

</div>
<!--/.list-container-->

</section>

<div class="bg1">

<section>

<!-- <h2>Service</h2> -->

<div class="list-container">

<!-- <div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>
<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div> -->

</div>
<!--/.list-container-->

</section>

</div>


</main>

{% endblock %}