{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

<section>

<h2>クイズ</h2>

<dl class="faq">

<dt class="openclose">4.スター・ウォーズ エピソード4のサブタイトルといえば？</dt>
<dd>答え<br>
    新たなる希望</dd>

<dt class="openclose">5.前作での帝国軍のデス・スターを破壊した戦いは、銀河で何の戦いと言われていたか？</dt>
<dd>答え<br>
    ヤヴィンの戦い</dd>

<dt class="openclose">6.ジャバ・ザ・ハットのペットの、タトゥイーンのカークーンの大穴にいた怪物といえば？</dt>
<dd>答え<br>
    サルラック</dd>

<dt class="openclose">1.スターウォーズプリクエル(1.2.3)でオビ＝ワン・ケノービを演じた俳優といえば？</dt>
<dd>答え<br>
    ユアンマグレガー</dd>

<dt class="openclose">2.アナキン・スカイウォーカーの母の名前は？</dt>
<dd>答え<br>
    シミスカイウォーカー</dd>

<dt class="openclose">3.ジェダイ評議会は何人で構成されていたか？</dt>
<dd>答え<br>
    12人</dd>

</dl>

</section>



</main>

{% endblock %}