{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--スライドショー（slick）-->
<div class="mainimg">
<div><img src="{% static 'rebels/images/sun.png' %}" alt=""></div>
<div><img src="{% static 'rebels/images/vader5.png' %}" alt=""></div>
<div><img src="{% static 'rebels/images/Return-of-the-Jedi.png' %}" alt=""></div>
<div><img src="{% static 'rebels/images/picture_pc_448dbc8557d0c0c5d4607673c373e5e4.png' %}" alt=""></div>
<div><img src="{% static 'rebels/images/ep2223.png' %}" alt=""></div>
<div><img src="{% static 'rebels/images/gree4.png' %}" alt=""></div>


</div>

<main>

<div class="bg1">

<section>

<h2>Topics</h2>

<div class="list-container">

<div class="list blur">
<figure><img src="{% static 'rebels/images/IMG_5377.png' %}" alt=""></figure>
<div class="text">
<h4>バッドバッチ、シーズン３</h4>
<p>2024年2月21日配信開始!<br>
    最後の戦いを見逃すな！
</p>
</div>
<span class="new">NEW</span>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/IMG_5378.png' %}" alt=""></figure>
<div class="text">
<h4>マンダロリアン<br>
    『The Mandalorian & Grogu』(原題)</h4>
<p>!!映画化決定!!<br>
    𝗧𝗛𝗜𝗦 𝗜𝗦 𝗧𝗛𝗘 𝗪𝗔𝗬</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/IMG_5379.png' %}" alt=""></figure>
<div class="text">
<h4>アソーカシーズン２制作開始！</h4>
<p>アソーカとサビーヌの旅は続く、、</p>
</div>
</div>

</div>
<!--/.list-container-->

<p class="btn mt30"><a href="{% url 'contact' %}" class="ws">もっとみる</a></p>

</section>

</div>
<!--/.bg1-->

<section>

<h2>News</h2>

<dl id="new">
<dt>2023/02/07<span>作品</span></dt>
<dd>バッドバッチ、シーズン32024年2月21日配信開始!</dd>
<dt>2023/02/07<span>作品</span></dt>
<dd>マンダロリアン映画化決定！</dd>
<dt>2023/02/07<span>作品</span></dt>
<dd>アソーカシーズン２制作開始！アソーカとサビーヌの旅は続く、、</dd>
<dt>2023/02/07<span>作品</span></dt>
<dd>ヤング・ジェダイ・アドベンチャー20～25話配信開始!</dd>

</dl>

</section>

<!-- <section>

<h2>テンプレートのご利用前に必ずお読み下さい</h2>

<h3>利用規約のご案内</h3>
<p>このテンプレートは、<a href="https://template-party.com/">Template Party</a>にて無料配布している『企業・ビジネスサイト向け 無料ホームページテンプレート tp_biz59』です。必ずダウンロード先のサイトの<a href="https://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>
<p><strong class="color-check">HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong><br>
わざと見えなく加工する事も禁止です。</p>
<p><strong class="color-check">下部の著作を外したい場合は</strong><br>
<a href="https://template-party.com/">Template-Party</a>の<a href="https://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。</p>

<h3>当テンプレートの詳しい使い方は</h3>
<p><a href="company.html#about">こちらをご覧下さい。</a></p>

</section> -->

</main>


<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="{% static 'rebels/js/jquery.inview_set.js' %}"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{% static 'rebels/js/main.js' %}"></script>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'rebels/js/slick.js' %}"></script>


{% endblock %}