{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

<section>

<h2>Character-Episode1-</h2>
<!-- <p>ブロック全体を囲んでいる「list-container」タグを入れ忘れないで下さい。これがないとレイアウトが崩れます。<br>
出現してくるアニメーションは他にも色々ご用意しております。テンプレート内の<a href="sample_inview.html">sample_inview.htmlをお読み下さい。</a></p> -->

<div class="list-container">

<div class="list blur">
<figure><img src="{% static 'rebels/images/anakin1.png' %}" alt=""></figure>
<div class="text">
<h4>アナキンスカイウォーカー</h4>
<p>ジェダイのオビ＝ワン・ケノービとクワイ＝ガン・ジンが、アミダラ女王たちが<br>
    タトゥイーンで奴隷として暮らす少年アナキン・スカイウォーカーと出会う。彼は、強いフォースを秘めた特別な存在であり、<br>
    ジェダイの騎士としての運命を予感させます。アナキンは、ジェダイの騎士たちとの出会いを通じて成長し、彼の運命が銀河全体を変えることになることなるのだった、、、</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/obi1.png' %}" alt=""></figure>
<div class="text">
<h4>オビ＝ワン・ケノービ</h4>
<p>オビ＝ワン・ケノービは、ジェダイ騎士の一人として登場します。<br>
    彼はジェダイマスターであるクワイ＝ガン・ジンと共に、ナブーの危機に立ち向かう。<br>
    オビ＝ワンは、ジェダイの教えに忠実で、フォースの力を駆使して様々な困難に立ち向かう。<br>
    オビ＝ワンは、騎士としての使命を全うしながら、マスタークワイ=ガンと共にジェダイの道を進むのであった、、、、
</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/qui.png' %}" alt=""></figure>
<div class="text">
<h4>クワイ＝ガン・ジン</h4>
<p>彼は、ナブーの女王アミダラを救出するために派遣され、ジェダイの教えに従って行動する偉大なジェダイマスターです。クワイ＝ガン・ジンは、フォースの力を信じ、<br>
    その導きに従って様々な試練に立ち向かいます。彼は、タトゥイーンでスレーブとして暮らす少年アナキン・スカイウォーカーと出会い、<br>
    彼が特別な存在であることを感じ取ります。クワイ＝ガン・ジンは、アナキンの運命を見抜き、彼がジェダイ騎士としての訓練を受けるべきだと考える。<br>
    彼は、ジェダイの使命を全うしながら、アナキンの成長を見守る、、。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/padme1.png' %}" alt=""></figure>
<div class="text">
<h4>パドメ・アミダラ</h4>
<p>パドメ・アミダラは、ナブーの若き女王として登場します。彼女は、惑星ナブーの平和を守るために奔走し、<br>
    政治的な問題に立ち向かいます。パドメは、ジェダイの騎士クワイ＝ガン・ジンとオビ＝ワン・ケノービと出会い、<br>
    彼らと共に危機に立ち向かいます。彼女は、惑星ナブーの運命を左右する重要な役割を果たし、その過程で自身の信念と勇気を示します。<br>
    また、パドメは、タトゥイーンで出会った少年アナキン・スカイウォーカーとの交流を通じて、新たな展望を見出すことにもなります。</p>
</div>

</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/2072_r2-d2_main_527565d8.png' %}" alt=""></figure>
<div class="text">
<h4>R2-D2</h4>
<p>宇宙船「ナブー・ロイヤル・スターシップ」に搭載されているアストロメク・ドロイドとして、アミダラ女王および彼女の護衛たちをサポートする
</p>
</div>

</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/3po1.png' %}" alt=""></figure>
<div class="text">
<h4>C-3PO</h4>
<p>彼は、タトゥイーンで働く少年アナキン・スカイウォーカーとその家族によって発見され、<br>
    再組み立てされる。C-3POは、プロトコル・ドロイドとして設計された知的なロボットであり、<br>
    アナキンの母シミとの親しい関係が物語の中で描かれる。</p>
</div>

</div>

</div>
<!--/.list-container-->

</section>

<div class="bg1">

<section>

<!-- <h2>Service</h2> -->

<div class="list-container">

<!-- <div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>
<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div> -->

</div>
<!--/.list-container-->

</section>

</div>
<!--/.bg1-->

</main>

{% endblock %}
