{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

<section>

<h2>Character-Episode3-</h2>
<!-- <p>ブロック全体を囲んでいる「list-container」タグを入れ忘れないで下さい。これがないとレイアウトが崩れます。<br>
出現してくるアニメーションは他にも色々ご用意しております。テンプレート内の<a href="sample_inview.html">sample_inview.htmlをお読み下さい。</a></p> -->

<div class="list-container">

<div class="list blur">
<figure><img src="{% static 'rebels/images/anakin3.png' %}" alt=""></figure>
<div class="text">
<h4>アナキンスカイウォーカー</h4>
<p>アナキン・スカイウォーカーは、彼の内なる闇とジェダイの使命との間での葛藤が描かれます。<br>
    彼は、愛する者たちやジェダイとの関係性、そしてシスの誘惑との戦いに直面します。物語は、アナキンが彼の運命に向かって進む過程で、<br>
    彼の人間性や精神の変化を描きます。彼の物語は、銀河の運命に大きな影響を与える決定的な出来事に繋がっていくのだった、、、、、</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/obi3.png' %}" alt=""></figure>
<div class="text">
<h4>オビ＝ワン・ケノービ</h4>
<p>オビ＝ワン・ケノービはジェダイとして物語の中心的な役割を果たす。彼は、ジェダイの使命に忠実に従い、<br>
    銀河の平和を守るために戦う。オビ＝ワンは、アナキン・スカイウォーカーとの師弟関係が深まりつつありますが、<br>
    同時に彼の内なる闇にも気づいていく、、、物語は、オビ＝ワンがアナキンの運命について考え、彼の心の変化に直面する過程を描く<br>
    オビ＝ワンは、自らの信念とジェダイの教えに忠実でありながら、友情とジェダイの使命の間で葛藤する、、、、、、
</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/parupa.png' %}" alt=""></figure>
<div class="text">
<h4>シーヴ・パルパティーン</h4>
<p>シーヴ・パルパティーンは元ナブーの元老院議員でしたが前任のフィニス・ヴァローラム議長を不信任決議で勝ち取り、議長に登り詰めた、、、、、<br>
   彼は銀河の政治的な舞台で重要な役割を果たし、平和と秩序を維持するために活動します。パルパティーン議長は、<br>
   ジェダイ騎士や他の政治家と共に、銀河の未来に影響を与える決定を下す。彼は、物語の中で重要な政治的要素を担い、銀河の運命に大きな影響を与える可能性がある、、、、</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/padme3.png' %}" alt=""></figure>
<div class="text">
<h4>パドメ・アミダラ</h4>
<p>彼女は、ナブーの前女王としてではなく、<br>
    銀河元老院の一員として登場します。彼女は政治家としての役割を果たし、銀河の平和を維持するために努力します。<br>
    また、パドメはかつての恋人であるアナキン・スカイウォーカーと結ばれ、彼と共に未来を築こうと努力する。<br>
    しかし、彼女の周囲では政治的な陰謀や暗黒な影が広がりつつある。パドメは銀河の運命に大きな影響を与える出来事の中心に立ち、<br>
    その結末は彼女の人生と銀河の未来に大きな影響を与えることになる、、、、





</p>
</div>

</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/R23.png' %}" alt=""></figure>
<div class="text">
<h4>R2-D2</h4>
<p>彼は、ジェダイナイト(騎士)であるアナキン・スカイウォーカーと共に行動し、彼のスターシップの修理や情報収集など、様々な任務を遂行する。<br>
    R2-D2は、アナキンの信頼できる『友人』であり、彼の冒険に欠かせない存在として活躍する。彼の活躍は、物語の展開において重要な役割を果たし、<br>
    銀河の運命に影響を与える出来事にも関わっている、、、、
</p>
</div>

</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/3po3.png' %}" alt=""></figure>
<div class="text">
<h4>C-3PO</h4>
<p>彼は、主要キャラクターたちと共に行動し、彼らの冒険におけるサポート役として活躍します。C-3POは、彼の特徴的なユーモアや知識、<br>
    そしてプロトコル・ドロイドとしての役割を通じて、仲間達のムードメーカーになりジョークや情報提供の要素を提供します。</p>
</div>

</div>

</div>
<!--/.list-container-->

</section>

<div class="bg1">

<section>

<!-- <h2>Service</h2> -->

<div class="list-container">

<!-- <div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>
<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div> -->

</div>
<!--/.list-container-->

</section>

</div>
<!--/.bg1-->

</main>

{% endblock %}
