{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

<section>

<h2>Character-Episode2-</h2>
<!-- <p>ブロック全体を囲んでいる「list-container」タグを入れ忘れないで下さい。これがないとレイアウトが崩れます。<br>
出現してくるアニメーションは他にも色々ご用意しております。テンプレート内の<a href="sample_inview.html">sample_inview.htmlをお読み下さい。</a></p> -->

<div class="list-container">

<div class="list blur">
<figure><img src="{% static 'rebels/images/anakin2.png' %}" alt=""></figure>
<div class="text">
<h4>アナキンスカイウォーカー</h4>
<p>彼は、今作では成長したジェダイのパダワン(見習い)として描かれています。<br>
    アナキンは、彼のジェダイの師匠であるオビ＝ワン・ケノービと共に、銀河の平和を守るためのジェダイの任務に参加します。<br>
    彼は、自身の力と能力に自信を持ちながらも、内なる闇との戦いに直面する。さらに、アナキンは、パドメ・アミダラとの関係が深まり、<br>
    彼の人生に大きな影響を与える出来事が始まります。彼の物語は、ジェダイの騎士としての成長や苦悩、そして将来への運命を描いています。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/obi2.png' %}" alt=""></figure>
<div class="text">
<h4>オビ＝ワン・ケノービ</h4>
<p>オビ＝ワン・ケノービはジェダイ騎士として中心的な役割を果たします。<br>
    彼は、クローンの軍隊が銀河を脅かす事件の調査を行い、この事件の背後に隠された陰謀を解明するために奔走する。<br>
    オビ＝ワンは、さまざまな惑星を訪れ、謎を解き明かし、闇の勢力との対決に挑む。彼の旅は、ジェダイナイトとしての使命を全うし、<br>
    銀河の平和を守るための戦いを続けること。また、彼はアナキン・スカイウォーカーとの師弟関係を深め、その成長と闇への誘惑にも直面するのだった、、、、
</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/Ydoa.png' %}" alt=""></figure>
<div class="text">
<h4>ヨーダ</h4>
<p>ジェダイグランド・マスター・ヨーダはジェダイ評議会のメンバーとして登場する。彼は、ジェダイ騎士たちの良き指導者として、銀河の平和を守るための判断を下します。<br>
    ヨーダは、彼の知恵と強力なフォースの力を駆使して、ジェダイたちを導きます。彼は、クローンの軍隊が銀河を脅かす事件に対処し、<br>
    ジェダイの騎士たちが最善の方法で対処するよう助言します。ヨーダの登場は、ジェダイ騎士たちの指導者としての役割を示し、銀河の未来に影響を与える重要な決定の場面を提供します。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/padme2.png' %}" alt=""></figure>
<div class="text">
<h4>パドメ・アミダラ</h4>
<p>彼女は、ナブーの前女王としてではなく、<br>
    現在は銀河元老院の一議員として活躍している。パドメは、銀河の政治的な事件に関与し、平和を守るために活動する。<br>
    彼女は、ジェダイのオビ＝ワン・ケノービとアナキン・スカイウォーカーと共に行動し、彼らの任務を支援します。パドメの行動は、<br>
    彼女のリーダーシップと勇気を示し、銀河の安定に貢献します。また、アナキンとの関係も深まりつつあるのだった、、、</p>
</div>

</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/r2ep2.png' %}" alt=""></figure>
<div class="text">
<h4>R2-D2</h4>
<p>彼は、ジェダイナイト(騎士)であるアナキン・スカイウォーカーと共に行動し、彼のスターシップの修理や情報収集など、様々な任務を遂行する。<br>
    R2-D2は、アナキンの信頼できる仲間であり、彼の冒険に欠かせない存在として活躍します。彼の活躍は、物語の展開において重要な役割を果たし、<br>
    銀河の運命に影響を与える出来事にも関わっている、、、、
</p>
</div>

</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/3po2.png' %}" alt=""></figure>
<div class="text">
<h4>C-3PO</h4>
<p>彼は、主要キャラクターたちと共に行動し、彼らの冒険におけるサポート役として活躍します。C-3POは、彼の特徴的なユーモアや知識、<br>
    そしてプロトコル・ドロイドとしての役割を通じて、仲間達のムードメーカーになりジョークや情報提供の要素を提供します。</p>
</div>

</div>

</div>
<!--/.list-container-->

</section>

<div class="bg1">

<section>

<!-- <h2>Service</h2> -->

<div class="list-container">

<!-- <div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>
<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div>

<div class="list blur">
<figure><img src="{% static 'rebels/images/sample1.jpg' %}" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
</div>
<p class="btn"><a href="{% url 'service2' %}">もっとみる</a></p>
</div> -->

</div>
<!--/.list-container-->

</section>

</div>
<!--/.bg1-->

</main>

{% endblock %}
